*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box;
    border:dashed; */
    }

body {background-image: url('assets/background-01.svg');
    background-color: rgb(240, 230, 218);
    background-size:cover;
}
/* the main container */

.card{
 width:70%;
 height:100%;
  margin: 3em auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 255, 255);
  border-radius: 25px;
}

#front-card{
  background-image: url('assets/frontdesign-01-01.svg');
  background-size:cover;
}
 
#back-card{
  background-image: url('assets/back-design.svg');
  background-repeat: no-repeat;
  background-size:cover;
}
h1{
  /* to left align text */
  font-size: 4em;
  gap: 20px;
   color: rgb(106, 126, 214);
  margin-top: 75%;
  margin-left:16.5%;
  

font-family: 'Patheos', sans-serif;
}

.back-text {
  margin-top: 50%;
  margin-left:20%;
}

h3{
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
}

h5{
  font-size: 1.5em;
  margin-top: 80%;
  margin-left:20%;
  font-family: 'Raleway', sans-serif;
}


.icon-container{
  width:15%;
  margin-top: 60%;
  margin-left:42%;
  display:grid;
  gap:35px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
svg{
  fill:rgb(106, 126, 192);
}

svg:hover{
  fill:rgb(252, 202, 136);
}@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
  .card{
    
  width:60%;
  /* width:400px; */
/* height:750px; */
}
}

@media only screen and (min-width: 800px) {
  body {
    background-color: rgb(129, 120, 250);
  }
  .card{
  width: 450px;
  height: 750px;
  /* width:400px; */
  /* height:750px; */

}
}